<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Nickolai Muchnoi on the Web</title>{% endblock %}
  <meta charset="utf-8">
  {% load static %}
  <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(22956646, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/22956646" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</head>

<body>
      {% block content %}{% endblock %}

<div class='wob end'>
<p align='center'>
&copy;&nbsp;2005-2021&nbsp;
<a href="mailto:%20Николай%20Мучной%20&lt;N.Yu.Muchnoi@inp.nsk.su&gt;?subject=Feedback%20from%20My%20Site">Николай Мучной</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=22956646&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/22956646/3_0_2F302DFF_0F100DFF_1_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="22956646" data-lang="ru" align="center" /></a>
<!-- /Yandex.Metrika informer -->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="mailto:%20Николай%20Мучной%20&lt;N.Yu.Muchnoi@inp.nsk.su&gt;?subject=Feedback%20from%20My%20Site">Nickolai Muchnoi</a>&nbsp;
&copy;&nbsp;2005-2021&nbsp;
</p>
</div>

</body>
</html>
